<div class="container div1"></div>
<div class="container div2"></div>
<div class="heading">
  <h1> NeoSTORE</h1>
</div>

<div class="container div3">


  <mat-card class="example-container">
    <!-- for email  -->
    <div class="logoDiv">
      <mat-icon class="loginIcon">account_circle</mat-icon>
      <mat-card-title>Login</mat-card-title>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="enter your email" [formControl]="email" required>
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.invalid">{{getErrorMessageaMail()}}</mat-error>
    </mat-form-field>
    <!-- for password -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password"
        required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{getErrorMessageaPassword()}}</mat-error>
    </mat-form-field>
    <div class="btndin">
      <mat-hint class="mat-small" *ngIf="!!submit()">Please fill your login details !!!</mat-hint> <br>
      <button mat-raised-button color="primary" class="loginbtn" style="width: 30%" (click)="onSubmit()"
        [disabled]="submit()">Login</button>
    </div>
  </mat-card>
</div>