<!-- <mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  My Awesome App
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
</mat-toolbar> -->

<mat-toolbar class="example-toolbar navbarCss">
  <!-- side bar for menu -->
  <button mat-icon-button (click)="onToolbarMenuToggle()" id="toolbarMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Responsive App</h1>

  <span class="toolbar-spacer"></span>

  <!-- for email  -->
  <button class="emailbtn" mat-button [matMenuTriggerFor]="menuEmail">
    <mat-icon class="toolbar-icon" matBadge="3" matBadgePosition="after" matBadgeColor="accent">email</mat-icon>
  </button>
  <mat-menu #menuEmail="matMenu">
    <button mat-menu-item>

      <div mat-card-avatar class="example-header-image profilephoto">
      </div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>

    </button>
    <button mat-menu-item>
      <div mat-card-avatar class="example-header-image profilephoto">
      </div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </button>
  </mat-menu>
  <!-- for notification -->
  <button mat-button [matMenuTriggerFor]="menuNotification">
    <mat-icon class="toolbar-icon" matBadge="3" matBadgePosition="after" matBadgeColor="accent">notifications
    </mat-icon>
  </button>
  <mat-menu #menuNotification="matMenu">
    <button mat-menu-item> </button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <!-- for name and profile photo -->
  <div mat-card-avatar class="example-header-image profilephoto">
  </div>
  <button mat-button [matMenuTriggerFor]="menuUser">
    <mat-card-title>Steve Jobs<mat-icon>keyboard_arrow_down</mat-icon>
    </mat-card-title>
  </button>
  <mat-menu #menuUser="matMenu">
    <button mat-menu-item>
      <mat-icon>setting</mat-icon> Settings
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>

  <!-- for to-do -->
  <mat-menu #appMenu="matMenu" yPosition="above">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  <!-- button for left side sidebar -->
  <button class="emailbtn" mat-icon-button (click)="endside.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #snav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>

    <mat-list id="menus">
      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>work</mat-icon>
          Project
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>settings_application</mat-icon>
          Settings
        </button>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
<mat-card>dfsfdasddsadsdsadsads</mat-card>
<mat-card>dfsfdasddsadsdsadsads</mat-card><mat-card>dfsfdasddsadsdsadsads</mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>