
.info {
    margin: 1.5%;
}
.info1 {
    margin: 1.5%;
    width: 15%;
    height: 20%;
    float: left;
    border-radius: 2rem;
    color: white;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
#card1 {
    background-color: #2ec689;
}
#card2 {
    background-color: #3fa5f4;
}
#card3 {
    background-color: #f1536e;
}
#card4 {
    background-color: #f8a004;
}
.secondcard {
   display: flex;
   justify-content: center;
}
.icon {  
    background-color: white !important;
    border-radius: 50%;
    width: 20%;
    height: 50%;
}
#icon1 {
    color: #2ec689;
}
#icon2 {
    color: #3fa5f4;
}
#icon3 {
    color: #f1536e;
}
#icon4 {
    color: #f8a004;
}



