<div>
  <mat-card class="info">
    <mat-card-header>
      <mat-card-title>HI, WELCOMEBACK!</mat-card-title>
      <span class="toolbar-spacer"></span>
      <button mat-raised-button style="background-color: #3da5f4; color:#ffffff">Import</button>
    </mat-card-header>
  </mat-card>
  <div class="secondcard">
    <mat-card class="info1" id="card1">
      <mat-card-header>
        <div id="icon1" class="icon">
          <mat-icon>call_made</mat-icon>
        </div>
        <mat-card-subtitle>Total Sales</mat-card-subtitle>
        <mat-card-title>$508</mat-card-title>
        <mat-card-subtitle>This Month</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="info1" id="card2">
      <mat-card-header>
        <mat-icon id="icon2" class="icon">shopping_basket</mat-icon>
        <mat-card-subtitle>Total Sales</mat-card-subtitle>
        <mat-card-title>$508</mat-card-title>
        <mat-card-subtitle>This Month</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="info1" id="card3">
      <mat-card-header>
        <mat-icon id="icon3" class="icon">pie_chart_outline</mat-icon>
        <mat-card-subtitle>Total Sales</mat-card-subtitle>
        <mat-card-title>$508</mat-card-title>
        <mat-card-subtitle>This Month</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="info1" id="card4">
      <mat-card-header>
        <mat-icon id="icon4" class="icon">multiline_chart</mat-icon>
        <mat-card-subtitle>Total Sales</mat-card-subtitle>
        <mat-card-title>$508</mat-card-title>
        <mat-card-subtitle>This Month</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <ng-container>
      
  </ng-container>
</div>